# TEKTRONIX TDS1012B
KERNEL=="usb*", ATTRS{idVendor}=="0699", ATTRS{idProduct}=="0366", GROUP="usbtmc", MODE="0660", SYMLINK+="oscilloscope_tds1012b"

# KEYSIGHT DSOX1204G
KERNEL=="usb*", ATTRS{idVendor}=="0957|2a8d", ATTRS{idProduct}=="0396", GROUP="usbtmc", MODE="0660", SYMLINK+="oscilloscope_dsox1204g"

# RIGOL DS1000 series
KERNEL=="usb*", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="0396", GROUP="usbtmc", MODE="0660", SYMLINK+="oscilloscope_ds1000" # the idProduct here is incorrect

# ROHDE & SCHWARZ SMBV100A
KERNEL=="usb*", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="0023", GROUP="usbtmc", MODE="0660", SYMLINK+="sig_gen_smbv100a"

# ROHDE & SCHWARZ SMW200A
KERNEL=="usb*", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="0092", GROUP="usbtmc", MODE="0660", SYMLINK+="sig_gen_smw200a"

# KEYSIGHT N6700C
KERNEL=="usb*", ATTRS{idVendor}=="0957|2a8d", ATTRS{idProduct}=="0002", GROUP="usbtmc", MODE="0660", SYMLINK+="power_supply_n6700c"

# KEYSIGHT E36312
KERNEL=="usb*", ATTRS{idVendor}=="0957|2a8d", ATTRS{idProduct}=="1102", GROUP="usbtmc", MODE="0660", SYMLINK+="power_supply_e36312"

# KEYSIGHT U2022
KERNEL=="usb*", ATTRS{idVendor}=="0957|2a8d", ATTRS{idProduct}=="7f18", GROUP="usbtmc", MODE="0660", SYMLINK+="power_meter_u2022"

# ROHDE & SCHWARZ FSW43
KERNEL=="usb*", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="00ca", GROUP="usbtmc", MODE="0660", SYMLINK+="spectrum_analyzer_fsw43"

# ROHDE & SCHWARZ unknown device
KERNEL=="usb*", ATTRS{idVendor}=="0aad", ATTRS{idProduct}=="005f", GROUP="usbtmc", MODE="0660", SYMLINK+="rohde_schwarz_unknown_device"


KERNEL=="usbtmc[0..9]", SUBSYSTEM=="usbmisc", MODE="0666"

